

@charset 'utf-8';
body{font-family:  "Helvetica Neue",微软雅黑 , Helvetica, STHeiTi, sans-serif;color: #000000;font-size: 14px; }
body,html,ul,li,dl,dd,ol,p,form,h1,h2,h3,h4,h5,h6,figure{margin: 0px;padding: 0px;}
input,h1,h2,h3,h4,h5,h6,select,button,textarea{font-family: inherit;font-weight: normal;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display: block}/*html5*/
address,caption,cite,code,dfn,em,strong,th,var, i,pre{ font-weight: normal; font-style: normal;} 
input,textarea,select{margin:0px;padding:0px;outline:none;border:none; }
input[type="text"],textarea,select{margin:0px;padding:0px;}
.null{zoom:1;clear:both;height:0;font-size:0;overflow: hidden;}
.null:after{content:".";visibility:hidden;display:block;clear:both;height:0;font-size:0;overflow: hidden;}
a{text-decoration: none;outline: none;color: #6E6E6E;} 
img,fieldset{border:none;}
ul,li{list-style: none;}
table{width: 100%;border-collapse: collapse;border-spacing: 0;}
textarea{resize: none;}
/*清除浮动*/
.clearfix:before, .clearfix:after { content:"";display: table;}
.clearfix:after{clear:both;	overflow: hidden;}
.clearfix{zoom:1;clear:both;}


/*移动端*/
html, body {-webkit-user-select: none;   user-select: none;-webkit-user-drag:none;}/* 禁止选中文本（如无文本选中需求，此为必选项） */
body{-webkit-overflow-scrolling: touch;}
*, ::after, ::before{-webkit-tap-highlight-color: rgba(0,0,0,0);}/*click会出现绑定点击区域闪一下*/
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],select{
	-webkit-appearance:none;
}/*去除input默认样式*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/
a, img {-webkit-touch-callout: none; }/* 禁止长按链接与图片弹出菜单 */
img{max-width:100%;height:auto;}
.flexBox { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.flexChild { display: block; -webkit-box-flex:1; -moz-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1;}

.fl { float: left;}
.fr { float: right;}